<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>Home | Viridian Creators Club</title>
</head>
<body>
    <%- include('./nav'); -%>
    <div id="cover"></div>
    <div class="main-container">
        <div class="hero-header">
            <h1>Where Creativity Meets Collaboration</h1>
        </div>
        <p class="main-text">
            The Viridian Creators Club is a place for learning, creating, and dreaming <b>together</b>.
            <br><br>
            Whether you've never even thought about writing stories before or have been doing so for years, you are welcomed with open arms and endless excitement. In the Creators Club, we love nothing more than stories and the people who tell them.
            <br><br>
            With regular educational lessons and workshops that cover any-and-everything related to crafting beautiful stories, to live collaborative events where we all create something together, our goal is to foster a community of inspiration, encouragement, and most of all -- <b>excitement</b>.
        </p>
        <a id="home-signup-link" href="/register">Join the club</a>
    </div>
</body>
</html>