<script src="/static/js/app.js"></script>
<nav>
    <div class="nav-top-container">
        <a href="/"><img id="logo" src="/static/img/logo.png" alt="vcc-logo"></a>
        <div class="burger" onclick="navToggle(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="inner-nav">
        <ul class="nav-ul">
            <a class="nav-a" href="/about">About</a>
            <a class="nav-a" href="mailto:alexdomzalski@gmail.com">Contact</a>
            <a class="nav-a" href="/register">Register</a>
        </ul>
    </div>
    <div class="nav-fade"></div>
</nav>