<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <title>Success | Viridian Creators Club</title>
</head>
<body>
    <%- include('./nav'); -%>
    <div class="main-container">
        <h1>Success!</h1>
        <p>Thank you so much for joining the Viridian Creators Club! This project is currently in development and currently looking for educators and volunteer staff members. If you, or anyone you know, are skilled in their craft and would like to help this project get off the ground, please tell them about what we're doing and ask them to reach out! :)</p>
    </div>
</body>
</html>